.main-header{
  padding: 0 0px;
  
}
.navbar-nav {
    margin-left: auto !important;
    margin-right: auto !important;
    
  }
  
  .nav-item a {
    font-size: 18px;
    margin: 10px;
    color: #081828;
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    position: relative;
    text-transform: capitalize;
    
  }
  
  .nav-item a:hover {
    color: #ff5600 !important;
   
  }
  .nav-item a:active{
    border-bottom: #ff5600;
  }
  
  .appointment-btn {
    border: 1px solid gray;
    color: gray;
    background: none;
    border-radius: 5px;
    text-transform: capitalize;
    padding: 8px;
    -moz-user-select: none;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 0;
    position: relative;
    transition: color 0.4s linear;
    position: relative;
    overflow: hidden;
    /* margin: 0; */

  }
  
  .appointment-btn:hover {
    background-color: #ff5600 !important;
    color: white;
  }
  