.info{
    width: 450px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.info form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info form input{
    width: 150%;
    margin: 10px;
    padding: 11px;
    border-radius: 18px;

}
.card{
border-radius: 15px !important;
}