.main-heading{
    margin-bottom: 80px;
}
.menu-tab{
    padding: 30px;
    margin: 15px;
}
.item1{
height: 400px;
width: 400px;
border: 1px salmon;
}
.center {
    padding: 70px 0;
    /* border: 3px solid green; */
    text-align: center;
  }