.menu-top{
    background-image: url(../../Images/section_bg01.png.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.menu-subtitle{
    margin-top: 50px;
    margin-bottom: 20px;
}
.section-title{
    margin-top: 40px;
    margin-bottom: 20px;
}
.nav .nav-item a{
    text-decoration: none;
    margin: 0 27px;
    color: #1b1b1b;
    font-size: 16px;
}
/* .active{
    background: #ff5600;
    color: #fff;
    font-size: 16px;
    padding: 5px 22px;
} */

.properties-button .nav{
    justify-content: center;
}
.container-fluid{
margin:50px 0;
}
.no-gutter{
    margin: 0 !important;
    padding: 0 !important;
}
.container .row{
    --bs-gutter-x:0 !important
}



